* text=auto eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.c text eol=lf
*.h text eol=lf
*.cpp text eol=lf
*.py text eol=lf
LICENSE text eol=lf
*.pdf binary
*.png binary
*.jpg binary
*.step binary
*.stl binary
*.FCStd binary
